<!DOCTYPE html>

{%extends 'centerhead/index.html'%}
{%block body_block%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/centerhead/employee.css'%}">
<div class="conatiner">
    <div class="row">
        <div class="col-2">
            <div><a href="{%url 'telecallerhome'%}">Home</a></div>
            <div><img src="{%static '/images/img.png'%}" class="img-fluid" alt="..."></div>
        </div>
        <div class="col-10">
            <table>
                <tr>
                    <th>Student_name</th>
                    <th>Contact</th>
                    <th>email</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Follow_up_Date</th>
                    <th>User</th>
                    <th>action</th>
                </tr>
                {%for enquiry in enquiries%}
                <tr>
                    <td>{{enquiry.student_name}}</td>
                    <td>{{enquiry.contact}}</td>
                    <td>{{enquiry.email}}</td>
                    <td>{{enquiry.course}}</td>
                    <td>{{enquiry.status}}</td>
                    <td>{{enquiry.followupdate}}</td>
                    <td>{{enquiry.created_by}}</td>
                    <td><a href="{%url 'enquiryupdate' enquiry.id%}">Update</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-0"></div>
    </div>

</div>
{%endblock%}