<!DOCTYPE html>

{%extends 'centerhead/index.html'%}
{%block body_block%}
{%load static%}
<div class="conatiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" class="border border-success p-5 mt-5">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="login" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="col-4"></div>
</div>
</div>
{%endblock%}